{%extends 'layout.html'%}
{%block body%}
<center>
  <div style="width: 350px;">
<div class="form-outline">
  <input name="search" type="search" id="form1" class="form-control" placeholder="search" aria-label="Search"
  hx-get = "/freevideo/all"
  hx-trigger="keyup changed delay:500ms"      
  hx-target="#target"
  />
</div></div></center>
<div
id="carouselMultiItemExample"
class="carousel slide carousel-dark text-center"
data-mdb-ride="carousel"
>

  <div class="carousel-inner py-4">
    
    <div class="carousel-item active">
        <div class="container"id="target">
{%include 'freeviewall.html'%}
</div>
</div>
</div>

  </div>
  {%for tr in free%}
    <div
      class="modal fade"
      id="f{{tr.free_thumbnail}}"
      tabindex="-1"
      aria-labelledby="exampleModal1Label"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="ratio ratio-16x9">
              {%if tr.free_file != 'N/A'%}
              <video controls>
                  <source src="{{url_for('static', filename = 'uploads/' + tr.free_file)}}" type="video/mp4">
              </video>      
              {%else%}
            <iframe
              src="https://www.youtube.com/embed/{{tr.free_link}}"
              title="YouTube video"
              allowfullscreen
            ></iframe>
            {%endif%}
          </div>

          <div class="text-center py-3">
            <center><p> 
                {%if tr.free_caption != 'None'%}
                <b style="font-size: 20px;">{{tr.free_caption}}</b><br>
                {%endif%}
                {%if tr.free_description != 'None'%}
               <span style="font-weight: 100; margin:auto;">{{tr.free_description}}</span><br>
               {%endif%}
               
               <i style="font-size: 10px;">by {{tr.firstname}} {{tr.lastname}}  on {{tr.date_added}}</i>
               
            </p>

            </center>
            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
    {%endfor%}
    </div>
    {%endblock%}