<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/static/css/aos.css">
  <link rel="stylesheet" href="/static/css/main.css">
  <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,700&display=swap">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css" rel="stylesheet" />
</head>

<body>

  <!-- Header -->
  <div class="main" id="home">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show"
      style="display: flex; justify-content: space-between;" role="alert">

      {{ message }} <span style="cursor: pointer;" data-mdb-dismiss="alert" aria-label="Close">X</span>
    </div>

    {% endfor %}

    {% endif %}
    {% endwith %}
    <div class="row">
      <!-- Navigation -->
      <div class="navigation">
        <div class="logo">
          <!-- Logo -->
          <a href="/" class="logolink">
            <p style="font-family: cursive;">Victory Gym</p>
          </a>
        </div>
        <!-- End of logo -->
        <div class="burger">
          <div class="one"></div>
          <div class="two"></div>
          <div class="three"></div>
        </div>
        <!--End of Burger menu -->
        <ul class="navlist">
          <li><a class="active" href="/member/{{user.user_id}}">Home</a></li>
          <li><a href="/member/{{user.user_id}}#trainer">Trainer</a></li>
          <li><a href="/member/{{user.user_id}}/premium/all">Premium Exercise</a></li>
          <li><a href="/member/{{user.user_id}}/diet">Diet</a></li>
          <li><a href="">Help</a></li>
          <li class="dropdown"><a class="dropbtn" href=""><i class="fas fa-user"></i></a>
            <div class="contentm">
              <p></p>
              <p> Hello {{user.firstname}} </p>
              <p><a href="/member/{{user.user_id}}/profile"><i class="fas fa-user"></i> My profile </a></p>
              <button><a href="/logout">Logout</a></button>
              <!-- <p>Don't have an account yet? <br> <a style="font-size: 12px; color: rgb(35, 171, 225);" href="/signup">Signup here</a></p> -->
            </div>
          </li>
        </ul>
        <!-- End of navlist -->
      </div>
      <!-- End of navigation -->

    </div>
    <!-- End of slideshow -->
  </div>
  <!-- End of main -->

  <!-- About section -->

  <div class="about" id="trainer" data-aos="fade-in">

    {%if not mem.trainer_id %}
    <div class="about_content">
      <div class="aboutus">
        <p> <span>No Trainer</span></p>
        <p>
        <p class="para">
          To add a new trainer <a href="/member/{{user.user_id}}/trainer">click here</a>
        </p>
        </p>
      </div>
    </div>
    {% else %}
    {% for train in trainer %}
    <div class="about_content">
      <div class="about_img">
        {% if trainer.profile_image != 'none' %}
        <img src="{{url_for('static', filename = 'uploads/' + train.profile_image)}}" alt="">
        {%else%}
        <img src="/static/assets/7.png" alt="">
        {% endif %}
      </div>
      <div class="aboutus">
        <p> <span>{{train.firstname}} {{train.lastname}}</span></p>
        <p>
        <p class="para">
          {{train.profile}}
        </p>
        </p>
        <div class="socials">
          <a href=""><i class="fab fa-google"></i></a>
          <a href="/member/{{user.user_id}}/trainer/{{train.user_id}}/view"><i class="fas fa-user"></i></a>
        </div> <!-- End of social icons -->
      </div> <!-- End of aboutus -->

      </p>
      <div class="upcoming">
        <p><b>Upcoming meetings</b></p>
        {%for sch in data%}
        {%if sch.schedule_date==today%}
        <span>{{sch.schedule_date.strftime("%A %d %B %Y")}}
          @
          {{sch.schedule_time.strftime("%I:%M %p")}} <i class="fas fa-circle"
            style="font-size: 8px; color: rgb(4, 181, 4);"></i></span>
        {%else%}
        <span>{{sch.schedule_date.strftime("%A %d %B %Y")}}
          @
          {{sch.schedule_time.strftime("%I:%M %p")}}</span>
        {%endif%}
        {%endfor%}
      </div>
    </div> {%endfor%}{% endif %}
    <!-- End of about content -->
  </div> <!-- End of about section -->

  <!-- Training -->
  <div class="training" id="pexercises">
    <h3>Premium Exercise</h3>
    <a href="/member/{{user.user_id}}/premium/all" class="view">view all -></a>
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <div class="d-flex justify-content-center mb-4">

        <button class="carousel-control-prev position-relative but" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev"
          hx-get="{{url_for('member', id=user.user_id, page = free.prev_num)}}" hx-target="#target"
          hx-swap="innerHTML swap:0.8s">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>



        <button class="carousel-control-next position-relative but" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next"
          hx-get="{{url_for('member', id=user.user_id,  page = free.next_num)}}" hx-target="#target"
          hx-swap="innerHTML swap:0.8s">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>



      </div>




      <div class="carousel-inner py-4">

        <div class="carousel-item active">

          <div class="container">
            {%include 'memberpartial.html'%}

          </div>
        </div>
      </div>



      {%for tr in modal%}
      <div class="modal fade" id="f{{tr.exercise_thumbnail}}" tabindex="-1" aria-labelledby="exampleModal1Label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="ratio ratio-16x9">
              {%if tr.exercise_file != 'N/A'%}
              <video controls>
                <source src="{{url_for('static', filename = 'uploads/' + tr.exercise_file)}}" type="video/mp4">
              </video>
              {%else%}
              <iframe src="https://www.youtube.com/embed/{{tr.exercise_link}}" title="YouTube video"
                allowfullscreen></iframe>
              {%endif%}
            </div>

            <div class="text-center py-3">
              <center>
                <p>
                  {%if tr.exercise_name != 'None'%}
                  <b style="font-size: 20px;">{{tr.exercise_name}}</b><br>
                  {%endif%}
                  {%if tr.exercise_description != 'None'%}
                  <span style="font-weight: 100; margin:auto;">{{tr.exercise_description}}</span><br>
                  {%endif%}

                  <i style="font-size: 10px;"> by {{tr.tfirst}} {{tr.tlast}} to {{tr.firstname}} {{tr.lastname}} on
                    {{tr.date_added}}</i>

                </p>

              </center>
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div>
      {%endfor%}

    </div>
  </div>

  <div class="dtraining" id="pdiet">
    <h3>Diet</h3>
    <a href="/member/{{user.user_id}}/diet" class="view">view all -></a>
    <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
      <div class="d-flex justify-content-center mb-4">

        <button class="carousel-control-prev position-relative but" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="prev"
          hx-get="{{url_for('diet_memberhome',  id = user.user_id, pager=diet.prev_num)}}" hx-target="#target2"
          hx-swap="innerHTML swap:0.8s">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>



        <button class="carousel-control-next position-relative but" type="button"
          data-mdb-target="#carouselMultiItemExample" data-mdb-slide="next"
          hx-get="{{url_for('diet_memberhome', id=user.user_id, pager=diet.next_num)}}" hx-target="#target2"
          hx-swap="innerHTML swap:0.8s">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>



      </div>




      <div class="carousel-inner py-4">

        <div class="carousel-item active">

          <div class="container" id="target2">
            {%include 'dietmemberhome.html'%}

          </div>
        </div>
      </div>

      {% for ti in modals %}

      <div class="modal fade" id="d{{ti.diet_id}}" data-mdb-backdrop="static" data-mdb-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content" id="diet_modal">
            <div class="modal-header">
              <div class="modal-title" id="staticBackdropLabel">
                {% if ti.start_date > today %}<i style="margin-left: 3px;"
                  class="fas fa-clock-rotate-left completedv"></i>
                {%endif%}
                {% if ti.end_date < today %}<i style="margin-left: 3px;" class="fa-regular fa-square-check completed">
                  </i>
                  {%endif%}
                  {% if (ti.start_date <= today) and (ti.end_date> today) %}<i style="margin-left: 3px;"
                      class="fas fa-spinner completedp"></i>
                    {%endif%}
                    <b><span style="font-size: 25px; font-weight: 500;">{{ti.diet_name}}</span></b>
                    <br>
                    <i style="font-size: 10px; font-weight:50;">valid from {{ti.start_date}} to {{ti.end_date}}</i>
              </div>


              <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

              <img class="normal" src="{{url_for('static', filename = 'uploads/' + ti.diet_file)}}"
                onclick="openf(this.src)" alt="">

              <div>
                {{ti.diet_description|safe}}</div>
            </div>
            <div class="modal-footer">
              <i style="font-size: 10px; font-weight:50; margin-right: 80px;">By {{ti.firstname}} {{ti.lastname}} to
                {{ti.mfirst}} {{ti.mlast}} on {{ti.date_added}}</i>
              <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <span onclick="closef()">
        <div class="full" id="fullbox">
          <img src="" alt="" id="fullimg">

        </div>
      </span>
      {%endfor%}

    </div>

  </div>

  <!-- Contact us -->
  <div class="contact" id="contact">
    <h3>Contact Us</h3>
    <div class="form_wrapper">
      <form class="form">
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Id">
        <input type="tel" placeholder="Contact">
        <textarea rows="4" placeholder="Message"></textarea>
        <input type="submit" class="btn" value="Submit">
      </form>
      <!-- End of form -->
    </div>
    <!-- End of form wrapper -->
  </div>
  <!-- End of contact us section -->



  </div>
  <footer class="footer" data-aos="fade-in">
    <div>
      <a href="/">
        <a href="/">
          <p> Victory Gym </p>
        </a> </a>


    </div>
    <div>
      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
      <a href="#"><i class="fab fa-dribbble"></i></a>
    </div>
    <p class="footer-c">Victory Gym © 2022</p>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
  <!-- MDB -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"></script>
  <script src="/static/js/easy_background.js"></script>

  <script>
    easy_background(".main",

      {
        slide: ["/static/assets/31.jpg", "/static/assets/22.jpg", "/static/assets/29.jpg", "/static/assets/25.png"],

        delay: [2000, 2000, 2000, 2000]
      }


    );
  </script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="https://unpkg.com/htmx.org@1.8.0"
    integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc"
    crossorigin="anonymous"></script>

</body>

</html>