<div class="row g-2">
{%for image in images.items%}
<div class="col mb-2 im">
  <div class="image">
    <img src="{{url_for('static', filename = 'uploads/' + image.image_file)}}"
      alt="image 1" class="w-100 rounded-3" style="width: 250px; height:250px; object-fit: cover;">
      <div class="text">{{image.caption}}
        <p style="font-size: 10px;">
          {{image.date_added}} 
        </p>
        <a href="/trainer/{{trainer.user_id}}/image/{{image.image_id}}/delete"><i class="fas fa-trash trashicon"></i></a>

      </div>
    </div>
      
  </div>
{%if loop.last and images.has_next%}
    
      <center><i  class="fas fa-chevron-circle-down imgicon" hx-get="{{url_for('trainerprofile', id=trainer.user_id, page = images.next_num)}}" hx-swap="outerHTML" hx-target="this"></i>
            </center>   
{%else%}

{%endif%}

{%endfor%}
</div>




